<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head', {title: 'Configurações | PoliLustra'}) %>
    <body>
        <%- include('partials/navbar') %>
        <div class="d-flex flex-column m-5">
            <h1 class="mb-5">Configurações</h1> 
            <div class="row mb-4">
                <div class="col-7">
                    <p class="mb-0">Nome: <span class="fw-bold"><%= currentUser.name %></span></p>
                </div>
                <div class="col-5 text-end">
                    <button id="alterar-nome-btn" class="btn btn-outline-dark rounded-3" data-bs-toggle="modal" data-bs-target="#alterar-nome-modal">Alterar Nome</button>
                </div>
            </div>
            <hr>
            <div class="row align-items-center my-3">
                <div class="col-7">
                    <p class="mb-0">Email: <span class="fw-bold"><%= currentUser.email %></span></p>
                </div>
                <div class="col-5 text-end">
                    <button id="alterar-email-btn" class="btn btn-outline-dark rounded-3" data-bs-toggle="modal" data-bs-target="#alterar-email-modal">Alterar Email</button>
                </div>
            </div>
            <hr>
            <div class="row align-items-center my-3">
                <div class="col-7">
                    <p class="mb-0">Senha</p>
                </div>
                <div class="col-5 text-end">
                    <button id="alterar-senha-btn" class="btn btn-outline-dark rounded-3" data-bs-toggle="modal" data-bs-target="#alterar-senha-modal">Alterar Senha</button>
                </div>
            </div>
            <hr>
            <div class="row align-items-center my-3">
                <div class="col-7">
                    <p class="mb-0">Apagar Conta</p>
                </div>
                <div class="col-5 text-end">
                    <button id="apagar-conta-btn" class="btn btn-danger text-white rounded-3" data-bs-toggle="modal" data-bs-target="#apagar-conta-modal">Apagar Conta</button>
                </div>
            </div>
        </div>
        <div class="modal fade" id="alterar-nome-modal" tabindex="-1" aria-labelledby="alterar-nome-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="alterar-nome-modal-label">Alterar Nome</h5>
                </div>
                <div class="modal-body">
                    <form id="form-alterar-nome" class="d-flex flex-column">
                        <label for="alterar-nome-input" class="form-label">Nome:</label>
                        <input id="alterar-nome-input" name="novo-nome" class="form-control mb-2" type="text">
                        <label for="alterar-nome-input" class="form-label">Senha:</label>
                        <input id="alterar-nome-senha-input" name="senha" class="form-control mb-2" type="password">
                    </form>
                    <div class="alert alert-danger mb-2 d-none"></div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark rounded-3" data-bs-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-primary" form="form-alterar-nome" value="Submit">Alterar Nome</button>
                </div>
              </div>
            </div>
        </div>
        <div class="modal fade" id="alterar-email-modal" tabindex="-1" aria-labelledby="alterar-email-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="alterar-email-modal-label">Alterar Email</h5>
                </div>
                <div class="modal-body">
                    <!-- <p>Email Atual: <span class="fw-bold"><%= currentUser.email %></span></p> -->
                    <form id="form-alterar-email" class="d-flex flex-column">
                        <label for="alterar-email-input" class="form-label">Email:</label>
                        <input id="alterar-email-input" class="form-control mb-2" type="email">
                        <label for="alterar-email-input-confirmar" class="form-label">Confirmar Email:</label>
                        <input id="alterar-email-input-confirmar" class="form-control mb-2" type="email">
                        <label for="alterar-email-input" class="form-label">Senha:</label>
                        <input id="alterar-email-senha-input" class="form-control mb-2" type="password">
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark rounded-3" data-bs-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-primary">Alterar Email</button>
                </div>
              </div>
            </div>
        </div>
        <div class="modal fade" id="alterar-senha-modal" tabindex="-1" aria-labelledby="alterar-senha-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="alterar-senha-modal-label">Alterar Senha</h5>
                </div>
                <div class="modal-body">
                    <form id="form-alterar-senha" class="d-flex flex-column">
                        <label for="senha-atual-input" class="form-label">Senha Atual:</label>
                        <input id="senha-atual-input" class="form-control mb-2" type="password">
                        <label for="alterar-senha-input" class="form-label">Nova senha:</label>
                        <input id="alterar-senha-input" class="form-control mb-2" type="password">
                        <label for="alterar-senha-input-confirmar" class="form-label">Confirmar Nova Senha:</label>
                        <input id="alterar-senha-senha-input-confirmar" class="form-control mb-2" type="password">
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark rounded-3" data-bs-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-danger text-white">Alterar Senha</button>
                </div>
              </div>
            </div>
        </div>
        <div class="modal fade" id="apagar-conta-modal" tabindex="-1" aria-labelledby="apagar-conta-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="apagar-conta-modal-label">Apagar Conta</h5>
                </div>
                <div class="modal-body">
                    <p>Você tem certeza que deseja apagar a sua conta?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark rounded-3" data-bs-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-danger text-white">Apagar Conta</button>
                </div>
              </div>
            </div>
        </div>
        <%- include('partials/footer') %>
        <script src="js/configuracoes.js" data-nomeatual="<%= currentUser.name %>" data-emailatual="<%= currentUser.email %>"></script>
    </body>
</html>