<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head', {title: 'Configurações | PoliLustra'}) %>
    <body>
        <%- include('partials/navbar') %>
        <div class="d-flex flex-column m-5">
            <h1 class="mb-5">Configurações</h1> 
            <div class="row mb-4">
                <div class="col-7">
                    <p class="mb-0">Nome: <span class="fw-bold"><%= currentUser.name %></span></p>
                </div>
                <div class="col-5 text-end">
                    <button id="alterar-nome-btn" class="btn btn-outline-dark rounded-3" data-bs-toggle="modal" data-bs-target="#alterar-nome-modal">Alterar Nome</button>
                </div>
            </div>
            <hr>
            <div class="row align-items-center my-3">
                <div class="col-7">
                    <p class="mb-0">Email: <span class="fw-bold"><%= currentUser.email %></span></p>
                </div>
                <div class="col-5 text-end">
                    <button id="alterar-email-btn" class="btn btn-outline-dark rounded-3" data-bs-toggle="modal" data-bs-target="#alterar-email-modal">Alterar Email</button>
                </div>
            </div>
            <hr>
            <div class="row align-items-center my-3">
                <div class="col-7">
                    <p class="mb-0">Senha</p>
                </div>
                <div class="col-5 text-end">
                    <button id="alterar-senha-btn" class="btn btn-outline-dark rounded-3" data-bs-toggle="modal" data-bs-target="#alterar-senha-modal">Alterar Senha</button>
                </div>
            </div>
            <hr>
            <div class="row align-items-center my-3">
                <div class="col-7">
                    <p class="mb-0">Excluir Conta</p>
                </div>
                <div class="col-5 text-end">
                    <button id="excluir-conta-btn" class="btn btn-danger text-white rounded-3" data-bs-toggle="modal" data-bs-target="#excluir-conta-modal">Excluir Conta</button>
                </div>
            </div>
        </div>
        <div class="modal fade" id="alterar-nome-modal" tabindex="-1" aria-labelledby="alterar-nome-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="alterar-nome-modal-label">Alterar Nome</h5>
                </div>
                <div class="modal-body">
                    <form id="form-alterar-nome" class="d-flex flex-column">
                        <label for="alterar-nome-input" class="form-label">Nome:</label>
                        <input id="alterar-nome-input" name="novo-nome" class="form-control mb-2" type="text" minlength="5" maxlength="70" required>
                        <label for="alterar-nome-input" class="form-label">Senha:</label>
                        <input id="alterar-nome-senha-input" name="senha" class="form-control mb-2" type="password" minlength="8" maxlength="100" required>
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark rounded-3" data-bs-dismiss="modal">Cancelar</button>
                  <button id="alterar-nome-submit-btn" type="submit" class="btn btn-primary" form="form-alterar-nome" value="Submit">Alterar Nome</button>
                  <button id="alterar-nome-submit-btn-wait" type="submit" class="btn btn-primary d-none" form="form-alterar-nome" disabled><div class="spinner-border spinner-border-sm me-2" role="status"></div>Alterar Nome</button>
                </div>
              </div>
            </div>
        </div>
        <div class="modal fade" id="alterar-email-modal" tabindex="-1" aria-labelledby="alterar-email-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="alterar-email-modal-label">Alterar Email</h5>
                </div>
                <div class="modal-body">
                    <form id="form-alterar-email" class="d-flex flex-column">
                        <label for="alterar-email-input" class="form-label">Email:</label>
                        <input id="alterar-email-input" class="form-control mb-2" type="email" maxlength="254" required>
                        <label for="alterar-email-input-confirmar" class="form-label">Confirmar Email:</label>
                        <input id="alterar-email-input-confirmar" class="form-control mb-2" type="email" maxlength="254" required>
                        <label for="alterar-email-senha-input" class="form-label">Senha:</label>
                        <input id="alterar-email-senha-input" class="form-control mb-2" type="password" minlength="8" maxlength="100" required>
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark rounded-3" data-bs-dismiss="modal">Cancelar</button>
                  <button id="alterar-email-submit-btn" type="submit" class="btn btn-primary" form="form-alterar-email" value="Submit">Alterar Email</button>
                  <button id="alterar-email-submit-btn-wait" type="submit" class="btn btn-primary d-none" form="form-alterar-email" disabled><div class="spinner-border spinner-border-sm me-2" role="status"></div>Alterar Email</button>
                </div>
              </div>
            </div>
        </div>
        <div class="modal fade" id="alterar-senha-modal" tabindex="-1" aria-labelledby="alterar-senha-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="alterar-senha-modal-label">Alterar Senha</h5>
                </div>
                <div class="modal-body">
                    <form id="form-alterar-senha" class="d-flex flex-column">
                        <label for="senha-atual-input" class="form-label">Senha Atual:</label>
                        <input id="senha-atual-input" class="form-control mb-2" type="password" autocomplete="current-password" minlength="8" maxlength="100" required>
                        <label for="alterar-senha-input" class="form-label">Nova senha:</label>
                        <input id="alterar-senha-input" class="form-control mb-2" type="password" autocomplete="new-password" minlength="8" maxlength="100" required>
                        <label for="alterar-senha-input-confirmar" class="form-label">Confirmar Nova Senha:</label>
                        <input id="alterar-senha-input-confirmar" class="form-control mb-2" type="password" minlength="8" maxlength="100" required>
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark rounded-3" data-bs-dismiss="modal">Cancelar</button>
                  <button id="alterar-senha-submit-btn" type="submit" class="btn btn-primary" form="form-alterar-senha" value="Submit">Alterar Senha</button>
                  <button id="alterar-senha-submit-btn-wait" type="submit" class="btn btn-primary d-none" form="form-alterar-senha" disabled><div class="spinner-border spinner-border-sm me-2" role="status"></div>Alterar Senha</button>
                </div>
              </div>
            </div>
        </div>
        <div class="modal fade" id="excluir-conta-modal" tabindex="-1" aria-labelledby="excluir-conta-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="excluir-conta-modal-label">Excluir Conta</h5>
                </div>
                <div class="modal-body">
                    <p>Você tem certeza que deseja excluir a sua conta?<span class="text-danger">Essa ação é permanente e irreversível.</span></p>
                    
                    <div id="excluir-conta-alert" class="alert d-none" role="alert">
                        </div>

                    <form id="form-excluir-conta" class="d-flex flex-column">
                      <label for="excluir-conta-senha" class="form-label">Senha:</label>
                      <input id="excluir-conta-senha" class="form-control mb-3" type="password" minlength="8" maxlength="100" required>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="confirmar-exclusao-checkbox" required>
                        <label class="form-check-label" for="confirmar-exclusao-checkbox">Confirmo que desejo excluir minha conta, estando ciente das implicações desse ato.</label>
                      </div>
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark rounded-3" data-bs-dismiss="modal">Cancelar</button>
                  <button id="excluir-conta-submit-btn" type="submit" class="btn btn-danger text-white" form="form-excluir-conta" value="Submit">Excluir Conta</button>
                  <button id="excluir-conta-submit-btn-wait" type="submit" class="btn btn-danger text-white d-none" form="form-excluir-conta" disabled><div class="spinner-border spinner-border-sm me-2" role="status"></div>Excluir Conta</button>
                </div>
              </div>
            </div>
        </div>
        <%- include('partials/footer') %>
        <script src="js/configuracoes.js" data-nomeatual="<%= currentUser.name %>" data-emailatual="<%= currentUser.email %>"></script>
    </body>
</html>