<!DOCTYPE html>
<html lang="pt-BR">
    
    <%- include('partials/head', {title: 'Histórico | Poliustra'}) %>

    <body> 
        <%- include('partials/navbar') %>

        <div class="mt-5">
            <h1 class="text-center mb-5">Histórico</h1>
            
            <div class="d-flex flex-wrap justify-content-center" id="historico-container">

                <% if (imagens && imagens.length > 0) { %>
                    <% imagens.forEach(img => { %>
                        
                        <div class="card shadow-sm mx-3 mb-4 image-card" style="width: 250px;">
                            
                            <img src="<%= img.imageUrl %>" class="card-img-top" alt="<%= img.assunto || 'Imagem gerada' %>" style="height: 250px; object-fit: cover;">
                            
                            <div class="card-body text-center d-flex justify-content-evenly p-2">
                                
                                <!-- <a href="<%= img.imageUrl.replace('/upload/', '/upload/fl_attachment,f_jpg/') %>" 
                                   class="btn btn-secondary btn-sm" 
                                   title="Baixar Imagem"
                                   target="_blank">
                                    Baixar
                                </a> -->

                                <button class="btn btn-sm btn-secondary btn-outline-dark rounded-3" data-bs-toggle="modal" data-bs-target="#download-modal">Baixar</button>
                                
                                <!-- <button class="btn btn-info btn-sm">Editar</button> -->

                                <button class="btn btn-danger btn-sm btn-outline-dark btn-rounded-3 btn-excluir" 
                                        data-id="<%= img._id %>">
                                    Excluir
                                </button>
                            </div>
                        </div>

                    <% }) %>
                
                <% } else { %>
                    <p class="text-center text-muted">Você ainda não criou nenhuma imagem.</p>
                <% } %>
                
            </div>
        </div>

        <div class="modal fade" id="download-modal" tabindex="-1" aria-labelledby="download-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="download-modal-label">Baixar Imagem</h5>
                </div>
                <div class="modal-body">
                    <!-- <form id="form-alterar-nome" class="d-flex flex-column">
                        <label for="alterar-nome-input" class="form-label">Nome:</label>
                        <input id="alterar-nome-input" name="novo-nome" class="form-control mb-2" type="text" minlength="5" maxlength="70" required>
                        <label for="alterar-nome-input" class="form-label">Senha:</label>
                        <input id="alterar-nome-senha-input" name="senha" class="form-control mb-2" type="password" minlength="8" maxlength="100" required>
                    </form> -->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark rounded-3" data-bs-dismiss="modal">Cancelar</button>
                  <!-- <button id="download-submit-btn" type="submit" class="btn btn-primary" form="form-alterar-nome" value="Submit">Alterar Nome</button> -->
                  <!-- <button id="alterar-nome-submit-btn-wait" type="submit" class="btn btn-primary d-none" form="form-alterar-nome" disabled><div class="spinner-border spinner-border-sm me-2" role="status"></div>Alterar Nome</button> -->
                </div>
              </div>
            </div>
        </div>

        <%- include('partials/footer') %>

        <script src="/js/historico.js"></script>

    </body>
</html>