<!DOCTYPE html>
<html lang="pt-BR">
    
    <%- include('partials/head', {title: 'Histórico | Poliustra'}) %>

    <body> 
        <%- include('partials/navbar') %>

        <div class="mt-5">
            <h1 class="text-center mb-5">Histórico</h1>
            
            <div class="d-flex flex-wrap justify-content-center" id="historico-container">

                <% if (imagens && imagens.length > 0) { %>
                    <% imagens.forEach(img => { %>
                        
                        <div class="card shadow-sm mx-3 mb-4 image-card" style="width: 400px;">
                            
                            <img src="<%= img.imageUrl %>" class="card-img-top" alt="<%= img.assunto || 'Imagem gerada' %>" style="height: 250px; object-fit: cover;">
                            
                            <div class="card-body text-center d-flex justify-content-evenly p-2">
                                
                                <!-- <a href="<%= img.imageUrl.replace('/upload/', '/upload/fl_attachment,f_jpg/') %>" 
                                   class="btn btn-secondary btn-sm" 
                                   title="Baixar Imagem"
                                   target="_blank">
                                    Baixar
                                </a> -->

                                <button class="btn btn-sm btn-primary btn-outline-dark rounded-3 btn-download" data-bs-toggle="modal" data-bs-target="#download-modal" data-image-url="<%= img.imageUrl %>" id="btn-download">Baixar</button>
                                
                                <!-- <button class="btn btn-info btn-sm">Editar</button> -->

                                <button class="btn btn-danger btn-sm btn-outline-dark rounded-3 btn-excluir" 
                                        data-id="<%= img._id %>">
                                    Excluir
                                </button>
                            </div>
                        </div>

                    <% }) %>
                
                <% } else { %>
                    <p class="text-center text-muted">Você ainda não criou nenhuma imagem.</p>
                <% } %>
                
            </div>
        </div>

        <div class="modal fade" id="download-modal" tabindex="-1" aria-labelledby="download-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="download-modal-label">Baixar Imagem</h5>
                </div>
                <div class="modal-body">

                    <select name="formato" id="format-select" class="form-select mb-3">
                        <option></option>
                        <option value="f_jpg">JPG (Padrão, menor)</option>
                        <option value="f_png">PNG (Melhor qualidade, com transparência)</option>
                    </select>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark rounded-3" data-bs-dismiss="modal">Cancelar</button>
                  <button id="download-submit-btn" type="button" class="btn btn-primary" form="form-alterar-nome" value="Submit">Baixar</button> 
                </div>
              </div>
            </div>
        </div>

        <%- include('partials/footer') %>

        <script src="/js/historico.js"></script>

    </body>
</html>